<p>
  <%= f.label :text %><br />
  <%= f.text_field :text %>
</p>
<p>
	<%= f.label :due %><br />
	<%= datetime_select "todo", "due" %><br />
<p>
<p>
	<%= f.label :tag_list %><br />
	<%= f.text_field :tag_list %><br />
<p>
<p>
  <%= f.label :points %><br />
  <%= f.text_field :points %>
</p>
