<h1>Listing todos</h1>

<table>
  <tr>
    <th>Done</th>
    <th>Text</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= "&#10003;" if todo.done %></td>
    <td><%=h todo.text %></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<p><%=h @todos.count { |todo| not todo.done } %> todos still undone!</p>

<br />

<%= link_to 'New todo', new_todo_path %>