<h1>Joan and Yitz's shared todos</h1>

<% form_for @todo do |f| %>
<%= f.error_messages %>
<p>
	<%= f.text_field :text %>
	<%= f.submit "Add" %>
</p>
<% end %>

<% @todos.each do |todo| %>
<div class="todo <%= todo.done ? 'done' : 'open' %>">
<%= if todo.done
	link_to '&#x2714;', { :controller => :todos, :action => :uncheck , :id => todo.id}, :class => 'tick'
else
	link_to '&#x2610;', { :controller => :todos, :action => :check , :id => todo.id}, :class => 'tick'
end
%>
<span class="text">
<%=h todo.text %>
</span>
<div class="info">
<span class="due-date">Due: <%=h todo.due or 'no due date' %></span>
<span class="points">Points: <%=h todo.points %></span>
<span class="links">
<%= link_to '<img src="/icons/16/information.png" />', todo %>
<%= link_to '<img src="/icons/16/pencil.png" />', edit_todo_path(todo), :class => 'edit' %>
<%= link_to '<img src="/icons/16/cross.png" />', todo, :confirm => 'Are you sure?', :method => :delete %>
</div>
</div>
</span>
<% end %>

</table>

<p><%=h @todos.select { |todo| not todo.done }.size %> todos still undone!</p>

<br />

<%= link_to 'New todo', new_todo_path %>

<script type="text/javascript">
window.fluid.dockBadge = <%=h @todos.select { |todo| not todo.done }.size %>;
</script>
